@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  background: radial-gradient(circle, #fff7e6, #f5d9ab);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-box {
  background-color: #b2855e;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-box h1 {
  color: #fff;
  margin-bottom: 25px;
  text-shadow: 2px 2px #6c4c3d;
}

.register-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6c4c3d;
  background-color: grey;
  font-size: 0.9em;
}

.register-box button {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  font-size: 1em;
  color: white;
  background-color: #6c4c3d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  transition: all 0.2s;
}

.register-box button:hover {
  background-color: #8b5e4b;
  transform: scale(1.03);
}

.register-box p {
  margin-top: 15px;
  font-size: 0.8em;
  color: #fff;
}

.register-box p button {
  background: transparent;
  border: none;
  color: #6c4c3d;
  font-size: 0.8em;
  cursor: pointer;
}

.register-box p button:hover {
  text-decoration: underline;
}
